<section class="container-fluid wrapper"></section>
<div class="center">
  <div class="row">
    <div class="col-xl-6">
      <h2>Encontre as melhores promoções no Twitter,</h2>
      <h3>selecione o tipo de produto e deixe que </h3>
      <h2>o <a href="https://www.ibm.com/watson/br-pt/">IBM Watson</a> filtre pra você em meio aos tweets de </h2>
      <h3><a href="https://twitter.com/hardmob_promo">@hardmob_promo</a>, <a href="https://twitter.com/promobitoficial">@PromobitOficial</a>, <a href="https://twitter.com/pelandobr">@pelandobr</a>, e <a href="https://twitter.com/PromoForum">@PromoForum</a></h3>
    </div>
    <div class="col-xl-6 form-section">
      <mat-form-field>
        <mat-select placeholder="Tipo de Produto" [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="send-button"> Buscar </button>
    </div>
  </div>
</div>

